img {
    background-color: teal
}

/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
    background: teal;
  }
  
  h1 {
    font-size: 80px;
  }
  
  h3 {
    font-size: 30px;
  }


/*center="class" for the homepage image*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

  
  /* Giving our navbar some padding and a background color */
.navbar {
    padding: 10px;
    background: #5191fd;
  }

  /* Styling the header, giving it a height, a background color, and some top padding */
.hero Text-center {
    height: 200px;
    padding-top: 20px;
    background: #cdcdcd;
  }

/* Giving the .blurb element margin on 3 sides */
.blurb {
    margin-top: 50px !important;
    margin-right: 100px !important;
    margin-left: 100px !important;
  }

  MOst specific is highest priority
  ID beats classes
  To update one thing, just put an id on it