/*img {
    background-color: #001846
}
*/

/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body /*{
    background: rgb(32, 32, 32);
  }*/
    h1 {
    font-size: 50px;
  }
    h3 {
    font-size: 30px;
  }


  /* Giving our navbar some padding and a background color */
/*.navbar {
    padding: 30px;
    background: #020e24;
  }
*/

.navbar-default {
  padding-bottom: 20px;
  padding-top: 20px;
  
  }

.navbar-links {
  padding-right: 100px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  
}

/* Change the color of links on hover */
.navbar-links a:hover {
  color: black;
}

/* Add a color to the active/current link */
.navbar-links a:active {
  background-color: #4CAF50;
  color: white;
}

.jumbotronHome {
  background: rgb(119, 145, 180); /* This is for ie8 and below */
  background: rgba(254, 254, 254, 0.4); 
  color:  rgb(32, 32, 32);
  font-size: 18px;

}

.jumbotron {
  background: rgb(254, 254, 254); /* This is for ie8 and below */
  background: rgba(254, 254, 254, 0.5); 
  color:  black
}

/*center="class" for the homepage image*/
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}


/* Formatting for paragraph elements */
.blurbs {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 50px;
  }
  .blurb {
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .footer {
    position: relative;
    color:  black;
    font-weight: bold;
    font-size: 16pt;
  }
  /*Most specific is highest priority
  ID beats classes
  To update one thing, just put an id on it
  */

/* COPIED FROM CLASSWORK ACTIVITY - Styling the header, giving it a height, a background color, and some top padding 
.hero Text-center {
    height: 200px;
    padding-top: 20px;
    background: #cdcdcd;
  }
  */

