.jumbotron {
    background: rgb(254, 254, 254); /* This is for ie8 and below */
    background: rgba(254, 254, 254, 0.8); 
 }

option {
    color: black;
}

select {
    color: black;
}

.table-head {
    background-color: black;
    color: white;
    font-weight: bold;
}

tbody>tr:nth-child(2n) {
    color: black;
}